---
import BaseLayout from "../../layouts/BaseLayout.astro";

const builderAPIpublicKey = "add3bfefbde24699aeb53c5a1ad64377";

export async function getStaticPaths() {
    const builderAPIpublicKey = "add3bfefbde24699aeb53c5a1ad64377";

    const baseURL = "https://astro-builder-restapi.netlify.app/";
    const handleError = (err) => {
        // The requested Builder content could not be found.
        if (err.response.status === 404) {
            return { data: null };
        }
        throw err;
    };

    const { results: posts } = await fetch(
        `https://cdn.builder.io/api/v2/content/blogpost?apiKey=${builderAPIpublicKey}&fields=id,name,data.slug,data.title`
    )
        .then((res) => res.json())
        .catch(handleError);

    // const encodedUrl = encodeURIComponent(baseURL + "/posts");

    // const { data: posts } = await fetch(
    //     `https://cdn.builder.io/api/v1/html/blogpost?apiKey=${builderAPIpublicKey}&url=${encodedUrl}&query.slug=${slug}`
    // )
    //     .then((res) => res.json())
    //     .catch(handleError);

    return posts.map(({ data: { slug, title } }) => ({
        params: { slug },
        props: { title },
    }));
}

const { title } = Astro.props;
---

<BaseLayout pageTitle={title}>
    <builder-component model="blogpost" api-key={builderAPIpublicKey}
    ></builder-component>
    <script async src="https://cdn.builder.io/js/webcomponents"></script>
    <h1>{title}</h1>
</BaseLayout>
